# Core Dependencies
python-dotenv==1.0.0
pyyaml==6.0.1

# AWS SDK
boto3==1.34.10
awscli==1.32.10

# Data Processing
pandas==2.1.4
numpy==1.26.2
pyarrow==14.0.1

# Data Generation
faker==22.0.0

# Testing
pytest==7.4.3
pytest-cov==4.1.0
moto==4.2.11

# Data Quality
great-expectations==0.18.8

# Airflow (for local development)
#apache-airflow==2.8.0
#apache-airflow-providers-amazon==8.14.0

# Utilities
requests==2.31.0
python-json-logger==2.0.7
pyarrow==14.0.1
fastparquet==2023.10.1
flake8==6.0.0
black==23.7.0
